.github
.idea
.git
*.pdf
!pdf/*.pdf
Dockerfile
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.byte
*.cache
*.fdb_latexmk
*.fls
*.glg
*.glo
*.glob
*.gls
*.gz
*.idx
*.ilg
*.ind
*.ist
*.listing
*.log
*.mli
*.out
*.sbl
*.slg
*.sym
*.toc
*.vo
*.vok
*.vos
*.vtc
*.xdv
*.xml